
@import url('./utilities.css');

:root{
    --primary: #3DCFD3;
    --dark: #161616;
    --pure: #fff
    ternary: #898989;
    --light: #f2f2f2;
}

body{

    font-family: 'Poppins', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotthing: antialiase;
}

header{
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);
    
}

.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}
header nav{
    position: sticky;
}
header nav .left a{
    color: #fff;
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s;
}
header nav .left a:hover{
    color: var(--primary);
}
header nav{
    padding: 2rem 0;
}
header nav .branding{
    margin-right: 3rem;
}

.branding img{
    max-width: 130px;
}
.menu {
    margin-left: 170px;
}
.hero{
    padding: 3rem 0;
}
.hero .left  img{
    width: 400px;
}

.hero .right{
    color: #fff;
}

.hero .right h6{
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
}
.hero .right h1{
    font-size: 5rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
    color: #fff;
    font-weight: 500;
    margin: 0;
}
.hero .right h1 span{
    color: var(--primary);
}
.hero .right p{
    line-height: 1.9;
    margin-bottom: 2rem;
}

.hero .right{
    margin-top: -7rem;
}

.flex-1{
    flex: 1;
}

.justify-center{
    justify-content: center;
}

section{
    padding: 6rem 0;
}

.about-me-img{
    height: 450px;
}
 .about .another h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
    margin: 0;
}
.about .another h1 span{
    color: #3DCFD3;
}

.about .another h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
    margin-top: 10px;
}

.about .another p{
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    line-height: 1.9;
    margin-bottom: 1.5rem;
}
.about .another .social{
    display: flex;

}
.about .another .social a{
    background: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    color: #fff;
    border-radius: 50%;
    margin-right: 0.6rem;
    transition: all .3s;
}

.about .another .social a:hover{
    background: #3DCFD3;

}

.section-heading{
    color: #070600;
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}
.section-heading + p{
    color: #898989;
    font-family: 'Lato' , sans-serif;
    margin-bottom: 8rem;
    text-align: center;
}


.brush-img {
    height: 70px;
    width: 70px;
    background: #3DCFD3;
    font-size: 30px;
    text-align: center;
    padding-top: 12px;
}

.section-heading span{
    color: #3DCFD3;
}

.services{
    background: var(--light);
}

.card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6rem
}

section.services .card-wrapper .card{
    background: #fff;
    padding: 3rem 2rem;
    position: relative;
    text-align: center;
    transition: .5s;
    cursor: pointer;
}

.brush-img {
    position: absolute;
    top: -2.3rem;
    left: 50%;
    transform: translateX(-50%);
}

section.services .card-wrapper .card h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

section.services .card-wrapper .card p{
    font-family: 'lato', sans-serif;
    color: #898989;
    line-height: 1.6;
}

section.services .card-wrapper .card:hover{
    background: var(--dark);
}
section.services .card-wrapper .card:hover h2,section.services .card-wrapper .card:hover p{
    color: #fff;
}

section.freelancer{
    text-align: center;
    background-image: url(../images/camera.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   color: #fff;
   z-index: 9;
   position: relative;
   clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 80%, 0 100%);
   padding-bottom: 14rem;
}

section.freelancer::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .7);
    z-index: -1;
}

section.freelancer h1{
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #fff;
}
section.freelancer p{
    margin-bottom: 2rem;
    font-family: sans-serif;
}

section.reviews .slider .slide img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 2rem;
}
section.reviews .slider .slide{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 14rem;
}
section.reviews .slider .slide p{
    font-family: 'Lato', sans-serif;
    color: #898989;
    margin-bottom: 1rem;
}
section.reviews .slider .slide span{
    font-size: 0.8rem;
}


li {
    list-style: none;
    display: inline-block;
    text-align: center;
}
.dots {
    text-align: center;
    margin-top: 3rem;
}
.dots button{
    font-size: 0;
    width: 8px;
    height: 5px;
    margin-right: 0.3rem;
    border: none;
    outline: none;
    background: #898989;
    border-radius: 50px;
    cursor: pointer;
}

li.slick-active {
    
    width: 20px;
    height: 10px;
    
}

section.work{
    background: #f2f2f2;
}
.card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}
section.work .card-wrapper .card{
    position: relative;
    height: 250px;
}
section.work .card-wrapper .card .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(61, 207, 211, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    opacity: 0;
    transition: .4s;
    cursor: pointer;
}
section.work .card-wrapper .card:hover .overlay{
    opacity: 1;
}

section.work .card-wrapper .card .overlay a{
    color: black;
    text-decoration: none;
}
section.work .card-wrapper .card img{
    height: 100%;
    width: 100%;
}

section.blog {
    background: #161616;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 90%, 0 100%);
    padding-bottom: 12rem;
}

section.blog .section-heading{
    color: #fff;
}
.card-content p{
    color: #fff;
}

section.blog .card-wrapper .card {
    background: #fff;
}
section.blog .card-wrapper .card .img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
section.blog .card-wrapper .card .card-content{
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
section.blog .card-wrapper .card .card-content h1{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: .5rem;

}
section.blog .card-wrapper .card .card-content a{
    color: black;
    text-decoration: none;
    transition: .3s;
}
section.blog .card-wrapper .card .card-content a:hover{
    color: red;
    letter-spacing: 2px;
}
section.blog .card-wrapper .card .card-content a h1{
    transition: 0.3s;
}
section.blog .card-wrapper .card .card-content a:hover h1{
    color: #3DCFD3;
    letter-spacing: 1px;
}
section.blog .card-wrapper .card .card-content span{
    color: #898989;
    
}
section.blog .card-wrapper .card .card-content p{
    color: black;
    margin-top: 1rem;
    font-family: "lato",sans-serif;
    margin-bottom: 1rem;
}
section.contact{

}
section.contact .card-wrapper .card{
    text-align: center;
}
.card-icon{
    font-size: 45px;
    margin-bottom: 0.5rem;
}
section.contact .card-wrapper .card h2{
   font-weight: 400;
   margin-bottom: 0.5rem;
}
section.contact .card-wrapper .card h6 {
    font-size: 1rem;
    color: #898989;
    font-weight: 400;
    margin-bottom: 4rem;
}




section.contact .input-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
}
section.contact .input-wrap2{
    display: flex;
    flex-direction: column;
}
section.contact .input-wrap2 input{
    margin-bottom: 2rem;
    border: 1px solid black;
    
}
section.contact input{
    padding: 0.5rem;
    border: 1px solid black;
    font-size: 1rem;
}
section.contact .input-wrap2 textarea{
    padding: 0.5rem;
    margin-bottom: 2rem;
    border: 1px solid black;
    font-size: 1rem;
}
.form-class{
    width: 1320px;
    margin: auto;
}
section.contact .input-wrap2 textarea:focus,section.contact input:focus {
    outline: none;
}
section.contact .btn-wrapper{
    text-align: center;
}

footer{
    background: #161616;
    text-align: center;
    padding: 5rem 0;
}

footer.footer-logo{
    margin-bottom: 3rem;
    width: 200px;
}

.footer-img img{
    width: 200px;
    margin-bottom: 1rem;
}

.footer-socials a{
    color: #fff;
    transition: .3s;
}
.footer-socials a:hover{
    color: #3DCFD3;
}
.footer-socials a{
    margin-right: 0.5rem;
   
}
.copyright{
    color: #898989 ;
    margin-top: 2rem;
}
.to-top{
    margin-top: 20px;
}
.to-top .uk-totop {
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 5px;
    transition: .5s;
}
.to-top .uk-totop:hover{
    background: #3DCFD3;
    border-color: #3DCFD3;
    color: #fff;
}